/* QuizSettings.css */

.settings-container {
  max-width: 100rem; /* max-w-md */
  width: 100%;
    margin: 40px auto;
    padding: 20px;
    background-color: #514c85;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .settings-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #000000;
  }
  
  .setting {
    margin-bottom: 20px;
  }
  
  .setting label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #000000;
  }
  
  .setting input{
    width: 96%;
    padding:10px;
    border: 1px solid #312a2a;
    border-radius: 5px;
    font-size: 1em;
    color: #5e5ed0;
  }
  .setting select {
    width: 100%;
    padding: 10px;
    border: 1px solid #312a2a;
    border-radius: 5px;
    font-size: 1em;
    color: #5e5ed0;
  }
  
  .start-quiz-button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #5e5ed0;
    color: #c8c4c4;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
  }
  
  .start-quiz-button:hover {
    background-color: #45a049;
  }
  
  @media (max-width: 768px) {
    .settings-container {
      padding: 15px;
    }
  
    .settings-container h1 {
      font-size: 1.5em;
    }
  }
  